<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="register()">

        <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Email">

          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Password">

          <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput number [formControl]="nameFormControl" [errorStateMatcher]="matcher" placeholder="Name">

          <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput number [formControl]="ageFormControl" [errorStateMatcher]="matcher" placeholder="Age">

          <mat-error *ngIf="ageFormControl.hasError('pattern') && !ageFormControl.hasError('required')">
            Please enter a number
          </mat-error>
          <mat-error *ngIf="ageFormControl.hasError('required')">
                Age is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [formControl]="familyFormControl" placeholder="Family">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [formControl]="raceFormControl" placeholder="Race">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [formControl]="foodFormControl" placeholder="Food">
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Register</button>
      <div class="login">
        <button mat-stroked-button color="accent" routerLink="/login" routerLinkActive="active" class="btn-block">Login</button>
      </div>
    </form>
  </mat-card>
</div>
