<div class="profile-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header class="header">
      <mat-card-title>
        <button mat-button class="profile" color="primary" routerLink="/friends" routerLinkActive="active">
          <mat-icon>home</mat-icon> Friends
        </button>
        <button mat-button class="logout" color="primary" routerLink="/login" routerLinkActive="active">
          <mat-icon>logout</mat-icon> Logout
        </button>
          <mat-card-title>Profile</mat-card-title>
      </mat-card-title>
    </mat-card-header>

    <form class="example-form">

        <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher" placeholder="Username">

          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Password">

          <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput number [formControl]="ageFormControl" [errorStateMatcher]="matcher" placeholder="Age">

          <mat-error *ngIf="ageFormControl.hasError('pattern') && !ageFormControl.hasError('required')">
            Please enter a number
          </mat-error>
          <mat-error *ngIf="ageFormControl.hasError('required')">
                Age is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Family">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Race">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Food">
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" routerLink="/friends" routerLinkActive="active" class="btn-block">Back</button>
      <div class="save">
        <button mat-stroked-button color="accent" routerLink="/friends" routerLinkActive="active" class="btn-block">Save</button>
      </div>
    </form>
  </mat-card>
</div>
